.navbar { /*class container*/
    display: flex; /*boxes go sideways*/
}

.navBox {
      display: flex;
      flex: 1;
      height: 50px;
      background-color: rgb(61, 122, 255);
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s;
      cursor: pointer;
      /* remove box margins */
      margin: 0;
    }

    .navBox:hover {
      background-color: rgb(0, 81, 255);
    }
    .navBox.active {
      background-color: rgb(238, 0, 255);
      font-weight: bold;
    }

.secret {
  display: none;
  opacity: 0;
  transition: opacity 0.5s;
  margin-top: 15px;
}
.secret.show {
  display: block;
  opacity: 1;
  cursor: crosshair;
}